<% provide(:title,"トップページ") %>

<% if logged_in? %>

  <h1>在庫管理システム</h1>
  <%= link_to "新規登録", new_safe_path, class:"btn btn-lg btn-primary" %>
  
  <br>
<% else %>
<div class="center jumbotron">
<center>

<%= link_to "ログイン", login_path, class:"btn btn-lg btn-primary" %>
<!--未ログインの場合に-->
</center>
</div>
<% end %>