@import "bootstrap";
@import "layouts/_paginate.scss";

a hover{
  color:black;
}

.fixed-top-2 {
    margin-top: -16px;
    background-color:#fff;
}

.nav_wide{
text-align:center;
 width:100%; 
}

// body {
//     padding-top: 105px;
// }


.width_container{
  float: left;
  width: 100%;
  // border-left: 1px solid #CCC;
  // overflow-y: hidden; /* 縦スクロール非表示 */
  overflow-x: scroll; /* 横スクロール */
}


.width100{
 width:100%;
}

.big{
  font-size:25px;
  padding: 0 30px 0 30px;
}

.red1{
  color:red;
}
.padding{
  padding: 0 10px 0 10px;
}

.padding1-20{
  padding: 0 20px 0 20px;
}

.padding2{
  padding: 10px 0 10px 0;
}

.margin{
  margin: 10px 5% 50px 5% ;
}

.margin2{
  margin: 10px 0 10px 0;
}

.header_margin{
  margin: 10px 0 10px 0;
}

.center{
  text-align: center;
}

.big_botton{
text-align:center;
 width:50%; 
 margin:30px 75% 0 75%;
}


// .top_padding{
//   margin: 20px 0 10px 0;
// }

.zoom15{
  zoom:1.5;
}


.zoom2{
  zoom:2;
}

.float{
  float:right;
}

.clearfix:after {
  clear: both;
  content: '';
  display: block;
}


/* ▼すべての場合に適用 */
.small-zoom{
  font-weight:5;
}

/* ▼閲覧領域の横幅が640px以上の場合に適用 */
@media screen and (min-width: 640px) {
   .small-zoom{ zoom:0.45; }
}

/* ▼閲覧領域の横幅が960px以上の場合に適用 */
@media screen and (min-width: 960px) {
   .small-zoom{ zoom:0.5; }
}

/* ▼閲覧領域の横幅が1200px以上の場合に適用 */
@media screen and (min-width: 1200px) {
   .small-zoom{ zoom:0.55; }
}

/* ▼閲覧領域の横幅が1500px以上の場合に適用 */
@media screen and (min-width: 1500px) {
   .small-zoom{ zoom:0.6; }
}



.yellow{
  color:yellow;
}

.container{
  // margin:0 7% 0 7%;
}



.space{
  padding: 10px 0 10px 0;
}

.space_under{
  padding: 10px 10px 0px 0;
}


h5{
  padding: 30px 0px 30px 0;
  display: block;
  width:100%;

}

h4{
  padding: 30px 0px 10px 0;
  display: block;
  width:100%;

}


/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #333;
  color: #333;
  padding:0 5% 0 5%;
  a {
    color: #333;
    &:hover {
      color: #333;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}


/* header */

.navbar-brand{
  
padding: 0 0 0 7%;
}

.navbar-collapse{
padding: 0 7% 0 0;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}
#right_menu{
  padding: 0 10px 0 10px;
  
}



/* error */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}



/* Navbar */

.navbar {
  color: #FFFFFF;
  margin-bottom:10px;
  font-size: 14px;
  // padding-left: 60px;
  // padding-right: 80px;
}

.navbar_color1 {
  background-color: #e9573f;
}

.navbar_color2 {
  background-color: #fff;
  color: #e9573f;
  // border-bottom: 1px solid #e9573f;
}


.navbar_center {
  border: 1px solid #e9573f;
  width: 100%;
  text-align: center;
}

.orange{
 color: #e9573f;
}


.navbar-inverse .navbar-nav > li > a {
  color: #FFFFFF;
  padding: 0 8px;
}

.navbar a {
  color: #D5D5D5;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  margin-right: 8px;
}

.navbar-fixed-top {
  position: static;
}

.navbar .nav>li>span {
  color: #b9b9b3;
  padding-right: 0;
}

.navbar-light .navbar-brand {
  color: #ffffff;
}

.navbar-light .navbar-nav .nav-link {
  color: #ffffff;
}


.nav-collapse .btn {
  padding: 4px 4px 4px;
  font-weight: normal;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.navbar .btn {
  font-size: 13px;
  text-transform: uppercase;
}

.dropdown-menu {
  min-width: 60px !important;
  background: white;
  color: #0000;
  font-size: 100%;
}

.btn-inverse {
  border-color: #727267;
  background-color: #4c4c45;
  color: white;
}


/* checkbox */

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}



/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid #333;
  }
}



// /* microposts */

// .microposts {
//   list-style: none;
//   padding: 0;
//   li {
//     padding: 10px 0;
//     border-top: 1px solid #e8e8e8;
//   }
//   .user {
//     margin-top: 5em;
//     padding-top: 0;
//   }
//   .content {
//     display: block;
//     img {
//       display: block;
//       padding: 5px 0;
//     }
//   }
//   .timestamp {
//     color: #333;
//     display: block;
//     margin-left: 60px;
//   }
//   .gravatar {
//     float: left;
//     margin-right: 10px;
//     margin-top: 5px;
//   }
// }

// aside {
//   textarea {
//     height: 100px;
//     margin-bottom: 5px;
//   }
// }

// span.picture {
//   margin-top: 10px;
//   input {
//     border: 0;
//   }
// }



// .form-width{
//   width:200%;
// }


// .pretty th .current {
//   padding-right: 12px;
//   background-repeat: no-repeat;
//   background-position: right center;
// }
// .pretty th .asc { 
//   background-image: url(/images/up_arrow.gif); 
// }

// .pretty th .desc { 
//   background-image: url(/images/down_arrow.gif); 
// }


// table

table{
  // border: 1px solid #ccc;
  width:100%;
  table-layout: fixed;
  // word-break: break-word;　　/*追加する*/
  

}

thead{
  border: 1px solid #fff;
}

tbody, tr, td{
  border: 1px solid #ccc;
  padding:10% ;
}



.font-small thead{
  font-size:8px;
  
    a {
    color: white;
    font-weight:default;
    }
  
}

.font-small thead{
  font-size:8px;
}

.sampleTable {
    border-collapse: collapse;
    table-layout: fixed;
}

.red{
  color:red;
}

// .sampleTable th,
// .sampleTable td {
//     border: 1px solid #CCCCCC;
//     padding: 5px 10px;
//     text-align: left;
// }



// money

.money_box{
min-width:150px;
border: 1px solid #CCCCCC;
padding: 8px;
margin: 3px 0 3px 10px;
font-size :12px;
font-weight:bold;
// background:white;
// color:#000;
}

.menu_box{
padding: 8px;
}
// .link_box{
// min-width:80px;
// border: 1px solid #CCCCCC;
// padding: 8px;
// margin: 0px 0 0px 10px;
// font-size :12px;
// font-weight:bold;
// // background:white;
// color:white;
// }

// .float_right{
//   float:right;
// }

