<table>
	<thead>
		<tr>
			<th>
				会社名
			</th>
			<th colspan="4">
				<%= detail.company_name %>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>
				会社名【ふりがな】
			</th>
			<td colspan="4">
				<%= detail.company_name_sounds %>
			</td>
		</tr>
		<tr>
			<th>
				代表者名
			</th>
			<td colspan="4">
				<%#= company_president %>
			</td>
		</tr>
		<tr>
			<th>
				代表者名【ふりがな】
			</th>
			<td colspan="4">
				<%#= company_president_sounds %>
			</td>
		</tr>
		<tr>
			<th>
				担当者１
			</th>
			<td>
				名前
			</td>
			<td>
				<%#= company_call_number_contact_name_1 %>
			</td>
			<td>
				連絡先電話番号
			</td>
			<td>
				<%#= company_call_number_contact_tel_1 %>
			</td>
		</tr>
	</tbody>
</table>