<% provide(:title,"会社情報の編集") %>

<h4>会社情報の編集画面になります。</h4>
<div class="container">
  <div class="form-center">
    <div class="box-whitesmoke">
      <div class="row">
        <div class="col-md-12 col-md-offset-3">

        <%= render 'shared/details_form' %>
        
        <%#= link_to '編集', edit_detail_path(@detail.id) %>

        </div>
      </div>
    </div>
  </div>
</div>