<footer class="footer">
  <small>
    Copyright (C) 2017 C Relation. All Right Reserved.
  </small>
  <nav>
    <ul>
     <li class="nav-item">
        <%= link_to "お問い合わせ", inquiry_path %>
      </li>
       <li class="nav-item">
        <%#= link_to "Contact", contact_path %>
      </li>
    </ul>
  </nav>
</footer>
